.button {
  flex: 1;
  border: 0;
  padding: 0 5px;

  background-color: var(--color-accent);
  border-radius: 200px;
}

.button span {
  padding: 0.5rem 0.75rem 0.5rem 1rem;
  text-wrap: nowrap;
}

.button img {
  padding: 5px;

  /* width: 28px;
  height: 28px; */
}
/* Rectangle 2 */
/* Rectangle 2 */
