.groupImageContainer,
.singleImageContainer {
  display: flex;
  flex-wrap: wrap;
  width: 50px;
  height: 50px;
  align-items: center;
  position: relative;
}

.groupImageContainer img,
.singleImageContainer img {
  border: 1px solid gray;
  border-radius: 50%;
  max-width: 50px;
  max-height: 50px;
  aspect-ratio: 1/1;
  position: absolute;
}

.groupImageContainer img:first-child {
  top: 10px;
  right: 10%;
}

.groupImageContainer img:last-child {
  bottom: 0;
  left: 0;
}
