.groupImageContainer,
.singleImageContainer {
  width: 50px;
  height: 50px;
  position: relative;
  flex-wrap: wrap;
}

.groupImageContainer img,
.singleImageContainer img {
  border: 1px solid gray;
  aspect-ratio: 1/1;
  position: absolute;
}

.groupImageContainer img:first-child {
  z-index: 10;
}

.groupImageContainer img:last-child {
  bottom: 30px;
  left: 30px;
}
