.postFooter {
  background-color: var(--color-accent);
  padding: 1rem;
  border-bottom-right-radius: var(--border-radius-primary);
  border-bottom-left-radius: var(--border-radius-primary);
}

.postFooter button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 0;
  color: var(--color-neutral-100);
  background-color: transparent;
}
