VITE_REFRESH_TOKEN_URL=XXXXXXXXXXXXX
VITE_API_URL=XXXXXXXXXXXXX
VITE_LOGIN_URL=XXXXXXXXXXXXX
VITE_FACEBOOK_LOGIN_URL=XXXXXXXXXXXXX
VITE_FACEBOOK_REGISTER_URL=XXXXXXXXXXXXX
VITE_REGISTER_URL=XXXXXXXXXXXXX
VITE_GET_USER_SETTINGS_API=XXXXXXXXXXXXX
VITE_UPDATE_USER_SETTINGS_API=XXXXXXXXXXXXX
VITE_DELETE_USER_URL=XXXXXXXXXXXXX
VITE_FORGOT_PASSWORD_REQUEST_URL=XXXXXXXXXXXXX
VITE_VERIFY_USER_CODE_URL=XXXXXXXXXXXXX
VITE_CHANGE_PASSWORD_URL=XXXXXXXXXXXXX
VITE_OUTFITS_URL=XXXXXXXXXXXXX
VITE_CREATE_OUTFIT_URL=XXXXXXXXXXXXX
VITE_CHAT_URL=XXXXXXXXXXXXX
VITE_ADD_CHAT_URL=XXXXXXXXXXXXX
VITE_FACEBOOK_LOGIN_APP_ID=XXXXXXXXXXXXX