.carousel {
  position: relative;
  overflow: hidden;
  margin: auto;
}

.carouselTrack {
  display: flex;
  transition: transform 0.3s ease-in-out;
  transform: translateX(0);
  height: 300px;
}

.carouselSlide {
  min-width: 100%;
  max-height: 100%;
}

.carouselSlide img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.carouselBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid var(--clr-neutral-100);
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
}

.carouselBtn.prev {
  left: 10px;
}

.carouselBtn.next {
  right: 10px;
}

.carouselBtn:focus {
  outline: none;
}

.carouselBtn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
