.container {
  min-height: calc(100vh - 135px);
  align-items: start;
}
.form {
  text-align: center;
}

input[type="file"] {
  display: none;
}

:global(.custom-file-upload) {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

:global(.custom-video-upload) {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
