.dashboard {
  min-height: 100vh;
}
.dashboard > a {
  margin: 1rem;
}

.dashboard label button {
  padding: 0.5rem 1.5rem;
  border-radius: var(--border-radius-round);
  margin-left: 6.8rem;
  margin-top: 2rem;
  background-color: var(--clr-primary);
  color: white;
}
