.bgImage {
  background-image: url("https://picsum.photos/200/300");
  background-size: cover;
  background-position: center;
  padding: 1rem;
  position: relative;
}

.bgImage img {
  width: 90px;
  height: 90px;
  border: 3px solid white;
  border-radius: var(--border-radius-round);
  position: relative;
  display: block;
  top: 55px;
}

.middle {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.middle img {
  width: 30px;
}

.userName {
  position: relative;
  top: 30px;
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.userName span:first-child {
  font-size: 18px;
  font-weight: 700;
}

.userName span:last-child {
  color: var(--color-neutral-400);
}

.middle button {
  padding: 0.3rem 1.5rem;
  border-radius: var(--border-radius-round);
  border: 1px solid var(--color-accent);
  display: flex;
  align-items: center;
  background-color: transparent;
}

.middle button img {
  width: 18px;
  margin-right: 0.3rem;
}

.stats {
  display: flex;
  text-align: center;
  padding: 1rem;
  margin-top: 50px;
  font-size: 24px;
  color: var(--color-accent);
}
