:global(.userMessage),
:global(.friendMessage) {
  padding: 0.3rem;
  margin: 0.2rem;
}

:global(.messageText) {
  padding: 0.5rem 1rem;
}

:global(.userMessage) {
  margin-left: auto;
}

:global(.friendMessage) {
  margin-right: auto;
}

:global(.userMessage) :global(.messageText) {
  background-color: var(--clr-primary);
}

:global(.friendMessage) :global(.messageText) {
  background-color: gray;
}
