.profileLayout {
  max-width: 1400px;
  width: 90%;
  margin: auto;
  display: flex;
  gap: 3rem;
  padding: 2rem 0;
}

.profileLayout aside {
  min-height: 200px;
  overflow: hidden;
}

.main {
  padding: 0 1rem;
  flex-grow: 2;
}

.profileLayout > * {
  flex: 1;
}

.main {
  overflow: scroll;
  scrollbar-width: none; /* For Firefox */
  max-height: 700px;
  flex-basis: 500px;
  max-width: 600px;
}

.profileLayout aside {
  box-shadow: var(--box-shadow-primary);
  border-radius: var(--border-radius-primary);
  height: fit-content;
  max-width: 350px;
}

@media only screen and (max-width: 900px) {
  .profileLayout {
    flex-direction: column;
  }

  .profileLayout aside {
    order: 1;
  }

  .main {
    order: 2;
    padding: 0;
    padding: 0 1rem;
  }
}

@media only screen and (max-width: 1100px) {
  .mobileHide {
    display: none;
  }
}
