.profileLayout {
  width: fit-content;
  max-width: 1350px;
  align-items: center;
  padding: 1rem 0;
}

.main {
  flex-grow: 1;
  overflow-y: scroll;
  /* header - footer  */
  max-height: calc(100vh - 69px - 75px);
}

.main::-webkit-scrollbar {
  width: 6px; /* Width for vertical scrollbar */
  background-color: #ffffff;
  margin: 1rem;
}

/* Styling the scrollbar track */
main::-webkit-scrollbar-track {
  background: transparent; /* Light gray background */
  border-radius: 10px; /* Rounded corners */
}
.main::-webkit-scrollbar-thumb {
  background: var(--clr-neutral-250); /* Darker gray for the thumb */
  border-radius: 10px; /* Rounded corners */
  margin: 1rem;
}
@media (min-width: 768px) {
  .profileLayout {
    align-items: start;
    padding: 1rem;
  }

  .main {
    padding: 0;
  }
}
