.profileLayout {
  max-width: 1200px;
  width: 90%;
  margin: auto;
  display: flex;
  gap: 2rem;
  padding: 2rem 0;
}

.profileLayout aside {
  min-height: 200px;
}

.main {
  padding: 0 1rem;
  flex-grow: 2;
}

@media only screen and (max-width: 900px) {
  .profileLayout {
    flex-direction: column;
  }

  .profileLayout aside {
    order: 1;
  }

  .main {
    order: 2;
  }
}

.profileLayout > * {
  flex: 1;
}

.main {
  overflow: scroll;
  scrollbar-width: none; /* For Firefox */
  max-height: 700px;
}

.profileLayout aside {
  box-shadow: var(--box-shadow-primary);
  border-radius: var(--border-radius-primary);
  height: fit-content;
}
