.postHeader {
  padding: 1rem;
}

.userInfo {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
  font-size: smaller;
}

.userName,
.desc {
  font-weight: bold;
}

.avatar {
  width: 40px;
  border-radius: 50%;
}

.created {
  font-size: 10px;
  font-style: italic;
  color: gray;
}
