.postHeader {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.userName {
  position: relative;
}

.userName:hover .addUser {
  display: block;
}

.addUser {
  position: absolute;
  top: -120%;
  right: 0;
  background-color: red;
  display: none;
}
