.form {
  position: fixed;
  bottom: 0;
  display: flex;
}

.form input {
  padding: 0.5rem;
}

.form input[type="file"] {
  display: none;
}

.uploadFile {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
