.chatItem {
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.3s;
}

.chatItem:hover {
  background-color: rgb(223, 232, 239);
  cursor: pointer;
}

.selectedChat {
  background-color: var(--color-neutral-100);
}
