.chat {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: scroll;
}

.chat p {
  margin-bottom: auto;
  padding: 0.5rem;
  padding-right: 1rem;
  width: fit-content;
  border-radius: 50px;
  text-align: left;
}

.userMessage {
  background-color: rgb(172, 172, 233);
  color: white;
  margin-left: auto;
}

.friendMessage {
  background-color: gray;
  color: white;
  margin-right: auto;
}

.form {
  position: fixed;
  bottom: 0;
}
