.header {
  flex-grow: 1;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}

.toggle {
  display: block;
  margin-left: auto;
}

@media (min-width: 1024px) {
  .toggle {
    display: none;
  }
}
