.headerWrap {
  box-shadow: var(--box-shadow-primary);
}

.header {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
  position: relative;
  max-width: 1200px;
  margin: auto;
}

.menuCheckbox :checked + ul {
  background-color: red;
}

.menuIcon {
  display: block;
}

.menuIcon img {
  width: 30px;
}

@media only screen and (min-width: 800px) {
  .menuIcon {
    display: none;
  }
}
