.form {
  position: sticky;
  bottom: 0;
  width: 100%;
}

.form label {
  position: relative;
}

.form input {
  padding: 0.5rem;
  flex: 1;
  border-top-left-radius: var(--border-radius-round);
  border-bottom-left-radius: var(--border-radius-round);
  border: 2px solid var(--clr-neutral-300);
  outline-color: var(--clr-primary);
}

.form input[type="file"] {
  display: none;
}

.uploadFile {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.uploadFileReady {
  background-color: var(--clr-accent-primary) !important;
  color: var(--clr-neutral-100);
}

.form button {
  border-top-right-radius: var(--border-radius-round);
  border-bottom-right-radius: var(--border-radius-round);
  background-color: var(--clr-primary);
  color: var(--clr-neutral-100);
  padding: 0 0.7rem;
}

.buttonDisabled {
  opacity: 0.5;
  pointer-events: none;
}
