.comments {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
  max-height: 200px;

  /* SCROLLBAR */
  overflow-x: scroll;
  scrollbar-gutter: none;
  -ms-overflow-style: none;
  scrollbar-width: thin;
  overflow-x: hidden;
  scrollbar-color: #eeecec #25202000; /* Thumb color and track background */
}

.button img {
  width: 20px;
}

.comment {
  display: block;
  align-items: end;
  padding: 0.5rem;
  border-bottom: 1px solid aliceblue;
}

.comment div {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
}

.comment p {
  text-align: left;
}
.userName {
  color: rgb(175, 175, 225);
  align-self: start;
}
.date {
  margin-left: auto;
}

.comment i {
  font-size: 0.75rem;
}
