@import url("https://unpkg.com/leaflet@1.9.4/dist/leaflet.css");

ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

.map {
  height: 400px;
  width: 90%;
  max-width: 600px;
  margin: 2rem auto;
}

a {
  color: inherit;
  text-decoration: none;
}

.active {
  color: blue;
}
.userMessage,
.friendMessage {
  color: white;
  padding: 0.3rem;
  margin: 0.2rem;
}

.userMessage {
  background-color: rgb(172, 172, 233);
  margin-left: auto;
}

.friendMessage {
  background-color: gray;
  margin-right: auto;
}
