.container {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  z-index: 100;
  border: 1px solid gray;
}

.list li {
  padding: 0.5rem;
}

.list li:hover {
  background-color: var(--clr-accent-primary);
}

.selected {
  background-color: var(--clr-accent-primary);
  color: var(--clr-neutral-100);
}
